{% extends 'auctions/layout.html' %}
 
{% block title %}
    {{ category }} - Auctions
{% endblock %}

{% block body %}

    <div class="categoryWrapper">
        <h1>Category: {{ category }}</h1>
        {% for listing in listings %}
            {% if listing.listing.availability %}
                <div class="listing">
                    <div class="displaypic">
                        <a href="{% url 'listing' listing.listing.title listing.listing.id %}"><img src="{{ listing.listing.image }}" alt=""></a>
                    </div>
                    <div class="itemInfo">
                        <div class="infoTitle">
                            <a href="{% url 'listing' listing.listing.title listing.listing.id %}">
                                <h4>{{ listing.listing.title }}</h4>
                            </a>
                        </div>
                        <div class="infoDescription">{{ listing.listing.description }}</div>
                        <div class="infoStartingBid">
                            <span class="dollar">$</span>
                            <span class="price">{{ listing.listing.startingBid | floatformat:2 }}</span>
                        </div>
                        <div class="nBid">
                            <p>[{{ listing.bid }} Bids]</p>
                        </div>
                        <div class="created">
                            <p>Listed: {{ listing.listing.timestamp }}</p>
                            <p>Posted by: {{ listing.listing.seller.username }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <li>There is currently no item in '{{ category }}' category</li>
        {% endfor %}
    </div>

{% endblock%}