{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="allListings">
        {% for listing in listings %}
            {% if listing.listing.availability %}
                <div class="listing">
                    <div class="displaypic">
                        <a href="{% url 'listing' listing.listing.title listing.listing.id %}"><img src="{{ listing.listing.image }}" alt=""></a>
                    </div>
                    <div class="itemInfo">
                        <div class="infoTitle">
                            <a href="{% url 'listing' listing.listing.title listing.listing.id %}">
                                <h4>{{ listing.listing.title }}</h4>
                            </a>
                            
                        </div>
                        <div class="infoDescription">{{ listing.listing.description }}</div>
                        <div class="infoStartingBid">
                            <span class="dollar">$</span>
                            <span class="price">{{ listing.listing.startingBid | floatformat:2 }}</span>
                        </div>
                        <div class="nBid">
                            <p>[{{ listing.bid }} Bids]</p>
                        </div>
                        <div class="created">
                            <p>Listed: {{ listing.listing.timestamp }}</p>
                            <p>Posted by: {{ listing.listing.seller.username }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}