{% extends 'auctions/layout.html' %}

{% block title %}
    {{ item.title }} - Auctions
{% endblock %}

{% block body %}
    
    <div class="listingwrapper">
        try
        {% if item and item.title|lower == listing_name|lower %}
            <div class="listingHeader">
                <div class="listingImg">
                    <img src="{{ item.image }}" alt="">
                </div>
                <div class="listingInfo">
                    <div class="listingTitleDiv">

                        <h2>{{ item.title }}</h2>
                        {% if not item.availability %}
                            <div class="availabilityStatus">
                                <p class="sold">Sold!</p>
                            </div>
                        {% endif %}
                        {% if item.seller.id != user.id %}
                            {% if watchlist is not None %}
                                <div class="watchlistBtnDiv">
                                    <form action="{% url 'listing' item.title item.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" name="submitBtn" data-action="remove" value="Remove from Watchlist">
                                    </form>
                                </div>
                            {% else %}
                                <div class="watchlistBtnDiv">
                                    <form action="{% url 'listing' item.title item.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" name="submitBtn" data-action="add" value="Add to Watchlist">
                                    </form>
                                </div>
                            {% endif%}
                        {% elif item.seller.id == user.id and item.availability %}
                        <div class="closeListbtnDiv">
                            <form action="{% url 'listing' item.title item.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" name="submitBtn" data-action="close" value="Close Listing" >
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="listingDescDiv">
                        <p>Description: {{ item.description }}</p>
                    </div>
                    <div>
                        <p>Category: {{ item.category }}</p>
                    </div>
                    <div class="listingPrice">
                        <span class="dollar">$</span>
                        <p>{{ item.startingBid | floatformat:2 }}</p>
                    </div>
                    <div class="created">
                        <p>Listed: {{ item.timestamp }}</p>
                        <p>Posted by: {{ item.seller.username }}</p>
                    </div>
                </div>
            </div>
            {% if item.seller.id != user.id and item.availability%}
                <div class="bidDiv">
                    <form action="{% url 'listing' item.title item.id %}" method="post">
                        {% csrf_token %}
                        <div class="bidFormInput">
                            <span>$</span>{{ bidForm.bid }}
                        </div>
                        <input type="submit" name="submitBtn" data-action="bid" value="Bid">
                    </form>
                    <div class="errorDiv">
                        {% for error in error %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="listingFeedback">
                <h2>Feedback</h2>
                <hr>
                <div class="feedbackSectionDiv">
                    {% for feedback in feedback %}
                        <div class="name_feedback">
                            <p class="fbname">{{ feedback.user_priv }}</p>
                            <span class="colon">:</span>
                            <p>{{ feedback.comment | safe }}</p>
                        </div>
                    {% empty %}
                        <li>No feedback.</li>
                    {% endfor %}
                </div>
                {% if item.seller.id != user.id %}
                <div class="feedbackDiv">
                    <form action="{% url 'listing' item.title item.id %}" method="post">
                        {% csrf_token %}
                        {{ commentForm }}
                        <input type="submit" name="submitBtn" data-action="comment" value="Add comment">
                    </form>
                </div>
                {% endif %}
            </div>
        {% else %}
        <h1>Listing Page</h1>
        Listing '{{ listing_name }}' not found.
        {% endif %}
    </div>

{% endblock %}