{% extends 'auctions/layout.html' %}

{% block title %}
    Create Listing - Auctions
{% endblock %}

{% block body %}
    <div class="newDiv">
        <h1>Create New Listing</h1>
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            <div class="newTitle">
                {{ form.title.label_tag}}
                {{ form.title }}
            </div>
            <div class="newDescription">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="newStartingBid">
                {{ form.startingBid.label_tag }}
                <div>
                    <span>$</span>{{ form.startingBid }}
                </div>
            </div>
            <div class="newImage">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <div class="newCategory">
                <div class="categoryLabel">{{ form.category.label_tag }}</div>
                {{ form.category}}
            </div>
            <div class="newSubmit">
                <input type="submit" data-action="create" value="Create Listing">
            </div>
        </form>
    </div>

{% endblock %}