{% extends 'auctions/layout.html' %}

{% block title %}
    Watchlist - Auctions
{% endblock %}

{% block body %}

    <h1>Watchlist</h1>
    <div class="allListings watchlistWrapper">
        {% for watchlist in watchlist %}
        <div class="listing">
            <div class="displaypic">
                <a href="{% url 'listing' watchlist.title watchlist.id %}"><img src="{{ watchlist.image }}" alt=""></a>
            </div>
            <div class="itemInfo">
                <div class="infoTitle">
                    <a href="{% url 'listing' watchlist.title watchlist.id %}">
                        <h4>{{ watchlist.title }}</h4>
                    </a>
                        <div class="availabilityStatus">
                            {% if not watchlist.availability %}
                                <p class="sold">Sold!</p>
                            {% endif %}
                        </div>
                </div>
                <div class="infoDescription">{{ watchlist.description }}</div>
                <div class="infoStartingBid">
                    <span class="dollar">$</span>
                    <span class="price">{{ watchlist.startingBid | floatformat:2 }}</span>
                </div>
                <div class="created">
                    <p>Listed on: {{ watchlist.timestamp }}</p>
                    <p>Posted by: {{ watchlist.seller.username }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <li>Empty watchlist.</li>
        {% endfor %}
    </div>

{% endblock %}